In [244]:
import numpy as np
import pandas as pd

Import necessary libraries

In [245]:
df =pd.read_csv('D:/BI final/fifa 21.csv')
df.head(5)

C:\Users\nilay\AppData\Local\Temp\ipykernel_10424\3111093550.py:1: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv('D:/BI final/fifa 21.csv')

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

Read CSV file into a DataFrame

In [246]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

Get information about the DataFrame columns

_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# Q1 Convert the height and weight columns to numerical forms

In [247]:
df.Height.value_counts()

Height
180cm    1474
178cm    1250
185cm    1182
183cm    1148
175cm    1091
         ...
6'5"        1
157cm       1
5'4"        1
5'6"        1
155cm       1
Name: count, Length: 62, dtype: int64

Cheking for Unique values in Height

In [248]:
def convert_height(height):
    if 'cm' in height:
        return int(height.replace('cm', ''))
    elif "'" in height:
        parts = height.split("'")
        feet_to_cm = int(parts[0]) * 30.48  # Convert feet to cm
        inches_to_cm = int(parts[1].replace('"', '')) * 2.54  # Convert inches to cm
        return feet_to_cm + inches_to_cm
    else:
        return 0

Function to convert various height formats to centimeters

In [249]:
df['Height'] = df['Height'].apply(convert_height)

 Apply the height conversion function to the 'Height' column

In [250]:
df['Height'] = df['Height'].astype(int)
print(df['Height'].head())

0    170
1    187
2    188
3    181
4    175
Name: Height, dtype: int32

Convert the 'Height' column to integers

In [251]:
df.Weight.value_counts()

Weight
70kg      1495
75kg      1457
80kg      1108
72kg      1022
78kg       991
          ...
190lbs       1
130lbs       1
146lbs       1
203lbs       1
157lbs       1
Name: count, Length: 79, dtype: int64

Cheking for Unique values in Weight

In [252]:
def convert_weight(weight):
    if 'kg' in weight:
        return int(weight.replace('kg', ''))
    elif "lbs" in weight:
        return int(weight.replace('lbs', '')) * 0.453
    else:
        return 0

Function to convert various weight formats to kilograms

In [253]:
df['Weight'] = df['Weight'].apply(convert_weight)

Apply the weight conversion function to the 'Weight' column

In [254]:
df['Weight'] = df['Weight'].astype(int)
print(df['Weight'].head())

0    72
1    83
2    87
3    70
4    68
Name: Weight, dtype: int32

Convert the 'Weight' column to integers

In [255]:
df.Weight.value_counts()

Weight
70     1495
75     1457
80     1108
72     1026
78      992
74      958
73      955
77      897
76      880
68      795
79      684
71      648
82      623
69      566
65      535
81      525
83      513
67      508
84      443
85      423
66      401
64      341
86      286
88      268
63      238
87      223
62      182
90      156
60      153
89      126
61       96
91       88
92       67
93       52
58       45
59       40
94       34
95       30
57       19
55       17
96       15
98       13
56       12
97        9
100       8
54        5
103       4
102       4
101       4
99        3
104       3
52        2
107       1
110       1
53        1
50        1
Name: count, dtype: int64

_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# Q2 Remove the unnecessary newline characters from all columns that have them.

In [256]:
for column in df.columns:
    has_newline = any(df[column].astype(str).str.contains('\n'))
    if has_newline:
        print(f"Column '{column}' has newline characters.")

Column 'Club' has newline characters.

Check for newline characters in each column and print the column names if found

In [257]:
df['Club'] = df['Club'].replace('\n', '', regex=True)

Remove new line characters from all columns

In [258]:
print(df.Club.head())

0           FC Barcelona
1               Juventus
2        Atlético Madrid
3        Manchester City
4    Paris Saint-Germain
Name: Club, dtype: object

_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# Q3 . 'Value', 'Wage' and "Release Clause' are string columns. Convert them to numbers. For eg, "M" in value column is Million, so multiply the row values by 1,000,000, etc.

In [259]:
print(df.Value.value_counts())
print(df.Wage.value_counts())
release_clause_counts = df['Release Clause'].value_counts()
print(release_clause_counts)

Value
€1.2M     582
€1.1M     559
€1.3M     534
€1.6M     532
€1M       497
         ...
€99M        1
€121M       1
€71.5M      1
€57M        1
€9K         1
Name: count, Length: 255, dtype: int64
Wage
€2K      2899
€500     2042
€1K      1891
€3K      1823
€4K      1050
         ...
€270K       2
€370K       1
€290K       1
€88K        1
€560K       1
Name: count, Length: 134, dtype: int64
Release Clause
€0        1261
€1.1M      609
€1.2M      504
€1.3M      443
€1.4M      385
          ...
€46.4M       1
€36.3M       1
€39.5M       1
€49.8M       1
€64K         1
Name: count, Length: 1216, dtype: int64

In [260]:
def convert_value(value):
    if 'M' in value:
        return float(value.replace('M', '')) * 1000000
    elif "K" in value:
        return float(value.replace('K', '')) * 1000
    else:
        return 0

Function to convert different value formats to a standard form

In [261]:
columns_to_clean = ['Value', 'Wage', 'Release Clause']

for column in columns_to_clean:
    df[column] = df[column].replace('€', '', regex=True)

Removing € From all columns

In [262]:
columns_to_apply = ['Value', 'Wage', 'Release Clause']

for column in columns_to_apply:
    df[column] = df[column].apply(convert_value)

Apply the value conversion function to selected columns

In [263]:
columns_to_convert = ['Value', 'Wage', 'Release Clause']

for column in columns_to_convert:
    df[column] = df[column].astype(int)

Convert the 'Value','Wage','Release Clause' column to integers

In [264]:
selected_columns = ['Value', 'Wage', 'Release Clause']
print(df[selected_columns])

           Value    Wage  Release Clause
0      103500000  560000       138400000
1       63000000  220000        75900000
2      120000000  125000       159400000
3      129000000  370000       161000000
4      132000000  270000       166500000
...          ...     ...             ...
18974     100000    1000           70000
18975     130000       0          165000
18976     120000       0          131000
18977     100000    2000           88000
18978     100000    1000           79000

[18979 rows x 3 columns]

_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# Q4 Some columns have 'star' characters. Strip those columns of these stars and make the columns numerical.

In [265]:
df.value_counts()

ID      Name            LongName                photoUrl                                          playerUrl                                                       Nationality  Age  ↓OVA  POT  Club                           Contract              Positions    Height  Weight  Preferred Foot  BOV  Best Position  Joined     Loan Date End  Value    Wage   Release Clause  Attacking  Crossing  Finishing  Heading Accuracy  Short Passing  Volleys  Skill  Dribbling  Curve  FK Accuracy  Long Passing  Ball Control  Movement  Acceleration  Sprint Speed  Agility  Reactions  Balance  Power  Shot Power  Jumping  Stamina  Strength  Long Shots  Mentality  Aggression  Interceptions  Positioning  Vision  Penalties  Composure  Defending  Marking  Standing Tackle  Sliding Tackle  Goalkeeping  GK Diving  GK Handling  GK Kicking  GK Positioning  GK Reflexes  Total Stats  Base Stats  W/F  SM  A/W     D/W     IR   PAC  SHO  PAS  DRI  DEF  PHY  Hits
111590  L. Feeney       Liam Feeney             https://cdn.sofifa.com/players/111/590/21_60.png  http://sofifa.com/player/111590/liam-feeney/210006/             England      33   65    65   Tranmere Rovers                Jun 30, 2021 On Loan  RWB, RM      183     76      Right           66   RM             23-Aug-18  30-Jun-21      375000   3000   0               293        72        53         47                63             58       311    67         67     53           60            64            359       75            78            75       61         70       320    63          54       75       68        60          275        49          54             61           60      51         56         160        50       56               54              50           12         8            10          12              8            1768         382         3 ★  3★  High    Low     1 ★  77   57   63   67   53   65   6       1
241406  J. Intriago     Jefferson Intriago      https://cdn.sofifa.com/players/241/406/21_60.png  http://sofifa.com/player/241406/jefferson-intriago/210006/      Ecuador      24   71    78   FC Juárez                      Jun 30, 2021 On Loan  CDM, CM, RM  175     69      Right           72   CDM            5-Jul-19   30-Jun-21      3500000  21000  0               262        65        30         64                72             31       337    72         63     58           72            72            353       73            71            72       67         70       350    65          68       89       71        57          326        72          65             63           63      63         65         196        67       65               64              42           5          12           9           7               9            1866         399         4 ★  3★  Medium  Medium  1 ★  72   46   68   72   65   76   14      1
241040  T. Eyoma        Timothy Eyoma           https://cdn.sofifa.com/players/241/040/21_60.png  http://sofifa.com/player/241040/timothy-eyoma/210006/           England      20   61    76   Lincoln City                   Jun 30, 2021 On Loan  CB, RB       183     76      Right           63   CB             1-Jul-17   30-Jun-21      750000   8000   0               238        56        32         59                58             33       246    54         49     34           54            55            282       64            69            51       53         45       268    37          62       69       68        32          260        58          58             50           45      49         47         188        64       63               61              47           12         13           9           5               8            1529         337         3 ★  2★  Medium  High    1 ★  67   35   53   54   62   66   27      1
241042  O. Skipp        Oliver Skipp            https://cdn.sofifa.com/players/241/042/21_60.png  http://sofifa.com/player/241042/oliver-skipp/210006/            England      19   68    84   Norwich City                   Jun 30, 2021 On Loan  CDM, CM      178     70      Right           69   CDM            16-Sep-17  30-Jun-21      3000000  13000  0               252        52        41         51                73             35       289    61         48     42           66            72            320       67            59            58       65         71       286    55          61       68       57        45          301        71          64             50           62      54         61         197        62       69               66              41           8          12           9           7               5            1686         363         3 ★  2★  Medium  High    1 ★  63   45   63   65   64   63   157     1
241128  J. Mejías       Josua Mejías            https://cdn.sofifa.com/players/241/128/21_60.png  http://sofifa.com/player/241128/josua-mejias/210006/            Venezuela    22   62    72   Málaga CF                      Jun 30, 2021 On Loan  CB           185     78      Right           64   CB             2-Jul-18   30-Jun-21      825000   2000   0               195        26        20         70                55             24       152    25         25     28           26            48            297       63            67            52       60         55       223    32          65       53       57        16          202        54          62             26           28      32         58         191        66       63               62              41           11         6            11          8               5            1301         283         3 ★  2★  Medium  High    1 ★  65   23   37   38   64   56   6       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
227970  Wang Peng       Peng Wang               https://cdn.sofifa.com/players/227/970/21_60.png  http://sofifa.com/player/227970/peng-wang/210006/               China PR     27   59    62   Shijiazhuang Ever Bright F.C.  Dec 31, 2020 On Loan  CB, CDM, CM  185     70      Right           61   CB             10-Feb-19  31-Dec-20      250000   2000   0               243        43        45         60                53             42       250    49         48     46           55            52            318       69            65            63       50         71       303    55          55       73       66        54          261        65          56             46           50      44         58         179        58       61               60              57           15         10           8           16              8            1611         344         2 ★  2★  Medium  Medium  1 ★  67   49   50   52   59   67   2       1
227990  Josep Señé      Josep Señé Escudero     https://cdn.sofifa.com/players/227/990/21_60.png  http://sofifa.com/player/227990/josep-sene-escudero/210006/     Spain        28   67    67   C.D. Castellón                 Jun 30, 2021 On Loan  CAM, CM, LM  183     72      Right           67   CAM            10-Jul-19  30-Jun-21      1000000  4000   0               305        64        64         61                70             46       322    67         63     60           66            66            320       61            69            62       69         59       267    48          53       43       58        65          302        46          56             69           70      61         61         140        35       49               56              60           14         16           7           13              10           1716         358         3 ★  3★  Medium  Medium  1 ★  65   60   67   66   48   52   5       1
228321  Sergi Palencia  Sergi Palencia Hurtado  https://cdn.sofifa.com/players/228/321/21_60.png  http://sofifa.com/player/228321/sergi-palencia-hurtado/210006/  Spain        24   72    79   CD Leganés                     Jun 30, 2021 On Loan  RB           168     67      Right           73   RWB            5-Jul-19   30-Jun-21      4500000  17000  0               284        72        51         57                70             34       301    71         58     44           59            69            364       77            75            73       68         71       326    68          57       75       67        59          304        82          68             65           44      45         71         209        70       72               67              51           9          14           6           11              11           1839         405         3 ★  3★  Medium  Medium  1 ★  76   56   62   70   69   72   20      1
228357  K. Soni         Kévin Soni              https://cdn.sofifa.com/players/228/357/21_60.png  http://sofifa.com/player/228357/kevin-soni/210006/              Cameroon     22   66    75   Villarreal CF                  Jun 30, 2021 On Loan  CAM, ST, LM  183     76      Left            68   ST             21-Jul-17  30-Jun-21      1900000  3000   0               302        57        64         64                60             57       302    72         57     48           55            70            364       78            77            75       63         71       316    58          70       64       72        52          270        57          32             65           63      53         59         129        50       42               37              44           8          12           7           8               9            1727         378         3 ★  3★  Medium  Medium  1 ★  77   60   59   71   44   67   16      1
259116  A. Zohouri      Armel Zohouri           https://cdn.sofifa.com/players/259/116/21_60.png  http://sofifa.com/player/259116/armel-zohouri/210006/           Ivory Coast  19   58    70   FC Lausanne-Sport              Jun 30, 2021 On Loan  RB           176     69      Right           59   RWB            16-Sep-20  30-Jun-21      475000   2000   0               215        59        30         47                53             26       243    58         38     40           48            59            333       73            72            68       53         67       229    28          58       60       56        27          253        62          52             46           48      45         52         157        48       55               54              50           14         6            8           13              9            1480         322         3 ★  2★  Medium  Medium  1 ★  72   30   51   60   51   58   1       1
Name: count, Length: 933, dtype: int64

In [266]:
for column in df.columns:
    has_star = any(df[column].astype(str).str.contains('★'))
    if has_star:
        print(f"Column '{column}' has stars.")

Column 'W/F' has stars.
Column 'SM' has stars.
Column 'IR' has stars.

Check for columns containing star characters

In [267]:
columns_to_cle = ['W/F', 'SM', 'IR']

for column in columns_to_cle:
    df[column] = df[column].replace('★', '', regex=True)

removing columns containing star.

In [268]:
selected_columns = ['W/F', 'SM', 'IR']
print(df[selected_columns])

      W/F SM  IR
0      4   4  5
1      4   5  5
2      3   1  3
3      5   4  4
4      5   5  5
...    .. ..  ..
18974  2   2  1
18975  2   2  1
18976  2   2  1
18977  3   2  1
18978  3   2  1

[18979 rows x 3 columns]

_____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

# Q5 Remove further outliers from data and generate a summary report stating all the changes

In [269]:
df.value_counts()

ID      Name            LongName                photoUrl                                          playerUrl                                                       Nationality  Age  ↓OVA  POT  Club                           Contract              Positions    Height  Weight  Preferred Foot  BOV  Best Position  Joined     Loan Date End  Value    Wage   Release Clause  Attacking  Crossing  Finishing  Heading Accuracy  Short Passing  Volleys  Skill  Dribbling  Curve  FK Accuracy  Long Passing  Ball Control  Movement  Acceleration  Sprint Speed  Agility  Reactions  Balance  Power  Shot Power  Jumping  Stamina  Strength  Long Shots  Mentality  Aggression  Interceptions  Positioning  Vision  Penalties  Composure  Defending  Marking  Standing Tackle  Sliding Tackle  Goalkeeping  GK Diving  GK Handling  GK Kicking  GK Positioning  GK Reflexes  Total Stats  Base Stats  W/F  SM  A/W     D/W     IR  PAC  SHO  PAS  DRI  DEF  PHY  Hits
111590  L. Feeney       Liam Feeney             https://cdn.sofifa.com/players/111/590/21_60.png  http://sofifa.com/player/111590/liam-feeney/210006/             England      33   65    65   Tranmere Rovers                Jun 30, 2021 On Loan  RWB, RM      183     76      Right           66   RM             23-Aug-18  30-Jun-21      375000   3000   0               293        72        53         47                63             58       311    67         67     53           60            64            359       75            78            75       61         70       320    63          54       75       68        60          275        49          54             61           60      51         56         160        50       56               54              50           12         8            10          12              8            1768         382         3    3   High    Low     1   77   57   63   67   53   65   6       1
241406  J. Intriago     Jefferson Intriago      https://cdn.sofifa.com/players/241/406/21_60.png  http://sofifa.com/player/241406/jefferson-intriago/210006/      Ecuador      24   71    78   FC Juárez                      Jun 30, 2021 On Loan  CDM, CM, RM  175     69      Right           72   CDM            5-Jul-19   30-Jun-21      3500000  21000  0               262        65        30         64                72             31       337    72         63     58           72            72            353       73            71            72       67         70       350    65          68       89       71        57          326        72          65             63           63      63         65         196        67       65               64              42           5          12           9           7               9            1866         399         4    3   Medium  Medium  1   72   46   68   72   65   76   14      1
241040  T. Eyoma        Timothy Eyoma           https://cdn.sofifa.com/players/241/040/21_60.png  http://sofifa.com/player/241040/timothy-eyoma/210006/           England      20   61    76   Lincoln City                   Jun 30, 2021 On Loan  CB, RB       183     76      Right           63   CB             1-Jul-17   30-Jun-21      750000   8000   0               238        56        32         59                58             33       246    54         49     34           54            55            282       64            69            51       53         45       268    37          62       69       68        32          260        58          58             50           45      49         47         188        64       63               61              47           12         13           9           5               8            1529         337         3    2   Medium  High    1   67   35   53   54   62   66   27      1
241042  O. Skipp        Oliver Skipp            https://cdn.sofifa.com/players/241/042/21_60.png  http://sofifa.com/player/241042/oliver-skipp/210006/            England      19   68    84   Norwich City                   Jun 30, 2021 On Loan  CDM, CM      178     70      Right           69   CDM            16-Sep-17  30-Jun-21      3000000  13000  0               252        52        41         51                73             35       289    61         48     42           66            72            320       67            59            58       65         71       286    55          61       68       57        45          301        71          64             50           62      54         61         197        62       69               66              41           8          12           9           7               5            1686         363         3    2   Medium  High    1   63   45   63   65   64   63   157     1
241128  J. Mejías       Josua Mejías            https://cdn.sofifa.com/players/241/128/21_60.png  http://sofifa.com/player/241128/josua-mejias/210006/            Venezuela    22   62    72   Málaga CF                      Jun 30, 2021 On Loan  CB           185     78      Right           64   CB             2-Jul-18   30-Jun-21      825000   2000   0               195        26        20         70                55             24       152    25         25     28           26            48            297       63            67            52       60         55       223    32          65       53       57        16          202        54          62             26           28      32         58         191        66       63               62              41           11         6            11          8               5            1301         283         3    2   Medium  High    1   65   23   37   38   64   56   6       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
227970  Wang Peng       Peng Wang               https://cdn.sofifa.com/players/227/970/21_60.png  http://sofifa.com/player/227970/peng-wang/210006/               China PR     27   59    62   Shijiazhuang Ever Bright F.C.  Dec 31, 2020 On Loan  CB, CDM, CM  185     70      Right           61   CB             10-Feb-19  31-Dec-20      250000   2000   0               243        43        45         60                53             42       250    49         48     46           55            52            318       69            65            63       50         71       303    55          55       73       66        54          261        65          56             46           50      44         58         179        58       61               60              57           15         10           8           16              8            1611         344         2    2   Medium  Medium  1   67   49   50   52   59   67   2       1
227990  Josep Señé      Josep Señé Escudero     https://cdn.sofifa.com/players/227/990/21_60.png  http://sofifa.com/player/227990/josep-sene-escudero/210006/     Spain        28   67    67   C.D. Castellón                 Jun 30, 2021 On Loan  CAM, CM, LM  183     72      Right           67   CAM            10-Jul-19  30-Jun-21      1000000  4000   0               305        64        64         61                70             46       322    67         63     60           66            66            320       61            69            62       69         59       267    48          53       43       58        65          302        46          56             69           70      61         61         140        35       49               56              60           14         16           7           13              10           1716         358         3    3   Medium  Medium  1   65   60   67   66   48   52   5       1
228321  Sergi Palencia  Sergi Palencia Hurtado  https://cdn.sofifa.com/players/228/321/21_60.png  http://sofifa.com/player/228321/sergi-palencia-hurtado/210006/  Spain        24   72    79   CD Leganés                     Jun 30, 2021 On Loan  RB           168     67      Right           73   RWB            5-Jul-19   30-Jun-21      4500000  17000  0               284        72        51         57                70             34       301    71         58     44           59            69            364       77            75            73       68         71       326    68          57       75       67        59          304        82          68             65           44      45         71         209        70       72               67              51           9          14           6           11              11           1839         405         3    3   Medium  Medium  1   76   56   62   70   69   72   20      1
228357  K. Soni         Kévin Soni              https://cdn.sofifa.com/players/228/357/21_60.png  http://sofifa.com/player/228357/kevin-soni/210006/              Cameroon     22   66    75   Villarreal CF                  Jun 30, 2021 On Loan  CAM, ST, LM  183     76      Left            68   ST             21-Jul-17  30-Jun-21      1900000  3000   0               302        57        64         64                60             57       302    72         57     48           55            70            364       78            77            75       63         71       316    58          70       64       72        52          270        57          32             65           63      53         59         129        50       42               37              44           8          12           7           8               9            1727         378         3    3   Medium  Medium  1   77   60   59   71   44   67   16      1
259116  A. Zohouri      Armel Zohouri           https://cdn.sofifa.com/players/259/116/21_60.png  http://sofifa.com/player/259116/armel-zohouri/210006/           Ivory Coast  19   58    70   FC Lausanne-Sport              Jun 30, 2021 On Loan  RB           176     69      Right           59   RWB            16-Sep-20  30-Jun-21      475000   2000   0               215        59        30         47                53             26       243    58         38     40           48            59            333       73            72            68       53         67       229    28          58       60       56        27          253        62          52             46           48      45         52         157        48       55               54              50           14         6            8           13              9            1480         322         3    2   Medium  Medium  1   72   30   51   60   51   58   1       1
Name: count, Length: 933, dtype: int64

In [270]:
print(df.isna().sum())

ID              0
Name            0
LongName        0
photoUrl        0
playerUrl       0
             ...
PAS             0
DRI             0
DEF             0
PHY             0
Hits         2595
Length: 77, dtype: int64

Check for missing values in the DataFrame

In [271]:
df['Hits'] = df.Hits.fillna('0')
print(df.isna().sum())

ID           0
Name         0
LongName     0
photoUrl     0
playerUrl    0
            ..
PAS          0
DRI          0
DEF          0
PHY          0
Hits         0
Length: 77, dtype: int64

 Fill Null values in 'Hits' column with '0'

In [272]:
df.Hits.value_counts()

Hits
0      2595
1      2325
2      2240
3      1729
4      1247
       ...
654       1
186       1
446       1
3K        1
6.0       1
Name: count, Length: 451, dtype: int64

Cheking for Unique values in Height

In [273]:
def convert_hits(hits): 
    if isinstance(hits, float):
        return hits  # If hits is already a float, return it as is
    if 'K' in hits:
        return float(hits.replace('K', '')) * 1000
    else:
        return hits

Function to convert hits to a standard form

In [274]:
df['Hits'] = df['Hits'].apply(convert_hits)
df['Hits'] = df['Hits'].astype(int)
print(df['Hits'].head())

0    771
1    562
2    150
3    207
4    595
Name: Hits, dtype: int32

Applying Function to Hits column

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  int32
 13  Weight            18979 non-null  int32
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  int32
 20  Wage              18979 non-null  int32
 21  Release Clause    18979 non-null  int32
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  int32
dtypes: int32(6), int64(54), object(17)
memory usage: 10.7+ MB

In [276]:
df = df.rename(columns={'LongName':'FullName'})
df = df.rename(columns={'↓OVA':'OVA'})

 Renaming columns

In [277]:
df.Contract.unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In [278]:
def calculate_contract_years(contract):
    if 'On Loan' in contract or contract == 'Free':
        return 0  # For loaned or free players
    elif '~' in contract:
        start_year, end_year = contract.split(' ~ ')
        return int(end_year) - int(start_year)
    else:
        return 0  # For other cases

 Function to calculate contract duration in years

In [279]:
df['Contract Duration'] = df.Contract.apply(calculate_contract_years)

Apply the contract duration calculation function to the 'Contract' column

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 78 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 18979 non-null  int64
 1   Name               18979 non-null  object
 2   FullName           18979 non-null  object
 3   photoUrl           18979 non-null  object
 4   playerUrl          18979 non-null  object
 5   Nationality        18979 non-null  object
 6   Age                18979 non-null  int64
 7   OVA                18979 non-null  int64
 8   POT                18979 non-null  int64
 9   Club               18979 non-null  object
 10  Contract           18979 non-null  object
 11  Positions          18979 non-null  object
 12  Height             18979 non-null  int32
 13  Weight             18979 non-null  int32
 14  Preferred Foot     18979 non-null  object
 15  BOV                18979 non-null  int64
 16  Best Position      18979 non-null  object
 17  Joined             18979 non-null  object
 18  Loan Date End      1013 non-null   object
 19  Value              18979 non-null  int32
 20  Wage               18979 non-null  int32
 21  Release Clause     18979 non-null  int32
 22  Attacking          18979 non-null  int64
 23  Crossing           18979 non-null  int64
 24  Finishing          18979 non-null  int64
 25  Heading Accuracy   18979 non-null  int64
 26  Short Passing      18979 non-null  int64
 27  Volleys            18979 non-null  int64
 28  Skill              18979 non-null  int64
 29  Dribbling          18979 non-null  int64
 30  Curve              18979 non-null  int64
 31  FK Accuracy        18979 non-null  int64
 32  Long Passing       18979 non-null  int64
 33  Ball Control       18979 non-null  int64
 34  Movement           18979 non-null  int64
 35  Acceleration       18979 non-null  int64
 36  Sprint Speed       18979 non-null  int64
 37  Agility            18979 non-null  int64
 38  Reactions          18979 non-null  int64
 39  Balance            18979 non-null  int64
 40  Power              18979 non-null  int64
 41  Shot Power         18979 non-null  int64
 42  Jumping            18979 non-null  int64
 43  Stamina            18979 non-null  int64
 44  Strength           18979 non-null  int64
 45  Long Shots         18979 non-null  int64
 46  Mentality          18979 non-null  int64
 47  Aggression         18979 non-null  int64
 48  Interceptions      18979 non-null  int64
 49  Positioning        18979 non-null  int64
 50  Vision             18979 non-null  int64
 51  Penalties          18979 non-null  int64
 52  Composure          18979 non-null  int64
 53  Defending          18979 non-null  int64
 54  Marking            18979 non-null  int64
 55  Standing Tackle    18979 non-null  int64
 56  Sliding Tackle     18979 non-null  int64
 57  Goalkeeping        18979 non-null  int64
 58  GK Diving          18979 non-null  int64
 59  GK Handling        18979 non-null  int64
 60  GK Kicking         18979 non-null  int64
 61  GK Positioning     18979 non-null  int64
 62  GK Reflexes        18979 non-null  int64
 63  Total Stats        18979 non-null  int64
 64  Base Stats         18979 non-null  int64
 65  W/F                18979 non-null  object
 66  SM                 18979 non-null  object
 67  A/W                18979 non-null  object
 68  D/W                18979 non-null  object
 69  IR                 18979 non-null  object
 70  PAC                18979 non-null  int64
 71  SHO                18979 non-null  int64
 72  PAS                18979 non-null  int64
 73  DRI                18979 non-null  int64
 74  DEF                18979 non-null  int64
 75  PHY                18979 non-null  int64
 76  Hits               18979 non-null  int32
 77  Contract Duration  18979 non-null  int64
dtypes: int32(6), int64(55), object(17)
memory usage: 10.9+ MB

In [281]:
print(df[['Contract Duration']].head())

   Contract Duration
0                 17
1                  4
2                  9
3                  8
4                  5

In [282]:
df = df.drop_duplicates()

 Drop duplicate rows from the DataFrame

In [283]:
df.to_csv('D:/BI final/FIFA 21 FINAL.csv', index=False)

Export the entire DataFrame to a CSV file